{% extends "layout.html.twig" %}

{% block content %}
   <form action="#" method="post"  class="pure-form pure-form-stacked">
    <fieldset>
      <legend>Posting a Tweet</legend>
      <div>
        {{ form_widget(form.text, {'attr': {'rows': '5'}}) }}
      </div> 
      <div> 
        {{ form_widget(form.image) }}
      </div> 
      <div> 
        {{ form_widget(form.submit, {'attr': {'class': 'pure-button pure-button-primary'}}) }}
      </div> 
      {{ form_rest(form) }}
    </fieldset>
  </form>
{% endblock %}