<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}TwitterTools Silex demo{% endblock %}</title>
  <link rel="stylesheet" href="css/ttools.css"  type="text/css" media="all" />
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="content">
    {% block content %}No content.{% endblock %}
  </div>
</body>
</html>