<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}TwitterTools Silex demo{% endblock %}</title>
  
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/base-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/buttons-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/forms-min.css">

  <link rel="stylesheet" href="css/ttools.css"  type="text/css" media="all" />
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <h1>TwitterTools Silex demo - {% block headline %}{% endblock %}</h1>
  <div class="content">
    {% block content %}No content.{% endblock %}
  </div>
</body>
</html>