
{% extends "layout.html.twig" %}

{% block headline %}user timeline{% endblock %}

{% block content %}
  <div class="stream">
  {% for tweet in stream %}
    {% if tweet.retweeted %}
        {{ include('tweet.html.twig', {user: tweet.retweeted_status.user, 
                                  text: tweet.retweeted_status.text}) }}
      {% else %}
        {{ include('tweet.html.twig', {user: tweet.user, text: tweet.text}) }}
      {% endif %}
  {% endfor %}
  </div>
{% endblock %}
