.content {
    margin: 0 auto;
    padding: .25em 2em;
    line-height: 2em;
}

.tweet {
   clear:both;
   position: relative;
   line-height: 1.25em;
}

.user-profile_image, 
.user-name-screen_name-text { 
  float: left;
  padding: 5px;
}

.user-name-screen_name-text {
  width: 80%;
}
