body {
  margin: 0 auto;
  padding: .5em;
  line-height: 2em;
}

form {
  line-height: 3em;
}

form textarea {
  width: 50%;
}

.tweet {
   clear:both;
   position: relative;
   line-height: 1.25em;
   border-bottom: 1px solid #dedede;
}

.user-profile_image, 
.user-name-screen_name-text { 
  float: left;
  padding: 5px;
}

.user-name-screen_name-text {
  width: 80%;
}
